.section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 600px;
  position: relative;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: max-content;
  gap: calc(var(--offset-base-size)  * 4);
  margin: 0;
  padding: 20px 10px;
  border-radius: 50px;
  border: 1px transparent solid;
}

.can_drop {
  border: 1px dashed var(--colors-interface-accent);
}

.active {
  box-shadow: 0 0 50px 1px var(--colors-interface-accent);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}