.navigation {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_item:first-of-type {
  justify-content: left;
}

.list_item:last-of-type {
  justify-content: right;
}

.sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.link_container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: max-content;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.link_text {
  color: var(--text-inactive-color);
}

.link_text_active {
  color: var(--text-primary-color);
}