.link {
  display: flex;
  justify-content: left;
  align-items: center;
  width: max-content;
  cursor: pointer;
  color: var(--text-inactive-color);
  transition: var(--common-transition);
}

.link:hover {
  color: var(--text-primary-color);
}

.link_type_current {
  pointer-events: none;
  color: var(--text-primary-color);
}